

/*######################################################################################################################*/
/**     AS PRESENTES CASSES E QUALQUER SIMBOLOGIA AQUI DESCRITAS NAS LINHAS ABAIXO; FORAM TIRADAS DE SITES DE 
 *  ESTUDO OU MESMO SITES E BLOGS DA INTERNET COM ALGUNS LINKS QUE ESTÃO SENDO DISPONIBILIZADOS LOGO ABAIXO; NÃO SENDO 
 * IMPOSTAS AS SANÇÕES DE DIREITOS AUTORAIS POIS SÃO DE DOMINIOS PUBLICOS E NÃO FORAM CRIADAS PELO DESENVOLVEDOR 
 * PRESENTE NESTE SISTEMA; CLARO QUE POR SEREM DE CONHECIMENTO PUBLICOS E DIRETO FORAM AQUI ADAPTADAS AS NECESSIDADES 
 * DESTE PROJETO TORNANDO-SE PARTE DO DESENVOLVIMENTO DELE; NO DEMAIS NOS RESERVAMOS O DIRETO DE TAMBÉM TORNAR PUBLICOS 
 * AS PARTES DESENVOLVIDAS AQUI, A FIM DE QUE OUTROS POSSAM FAZER USO E ADPATAÇÕES COM CONVIER NO FUTURO. E AS CLASSES 
 * QUE ESTÃO DESENVOLVIDAS NESTE PROJETO DE NOSSA AUTORIA TAMBÉM FICAM A DISPOSIÇÃO PARA SEREM AUTERADAS CONFORME 
 * MELHOR SE ADAPTAR AO SEU PROJETO FUTURO.
 * 
 *                                      GRATOS PELA COMPREENSSÃO. :)
 * 
 * https://github.com/fernandoleonid/consumo-api-js/tree/main/01-viacep
 * https://www.sansoaresdeveloper.com.br
 * https://www.sansoaresdeveloper.com
 * https://codepen.io/ruiguilherme/pen/OJmZEBb -- POR: Rui Guilerme da Cunha
/*######################################################################################################################*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

/*######################################################################################################################*/
/* FOLHA DE ESTILO PADRÃO PARA TODO O SISTEMA DO PROGRAMA */
/** DEFIMOS COR PADRÃO E FONTE PADRÃO PARA O CORPO DO SISTEMA/SITE;  AJUSTES BEM AQUI; COMO MOSTRADO ABAIXO */
/*######################################################################################################################*/
body {
	background-color: #ffffff;
	font-family: 'Roboto', sans-serif;
	border: #000000 1px solid;
}
/*######################################################################################################################*/


/*######################################################################################################################*/
/** DEFINIMOS UMA COR PADRÃO PARA TODOS OS LINKs NO SISTEMA/SITE; AJUSTES BEM AQUI; COMO MOSTRADO ABAIXO */
/*######################################################################################################################*/
a {
	color: #000000;
}
/*######################################################################################################################*/


/*######################################################################################################################*/
/** CONFIGURAÇÕES VARIAVEIS NO:ROOT SÃO VISÍVEIS EM TODO CÓDIGO SE TORNA MAIS FÁCIL O DESENVOLVIMENTO */
/*######################################################################################################################*/
:root {
	--font-size: 2em;
	--active-color: #808080;
	--hover-color: #D3D3D3;
	--bg-color: #000;
	--espaco-fonte: 2px;
	--linhas-fonte: 3.5;
	--largura-fonte: 900;
	--largura-fonte-one: 500;
	--fonte-color-one: #000000;
	--fonte-color-two: #ffffff;
	--fonte-color-three: #66ff99;
	--primary-color: #F5F5F5;
	--secondary-color: #b05b2e;
	--third-color: #be7140;
	--fourth-color:#ccbe00; 
	--primary-background: linear-gradient(to bottom right, #cf8b5a 40%, #deb177 60%);
	--centralizar-fonte: center;
	--font-type: 'Rouge Script', cursive;
	--familia-fonte: 'Roboto', sans-serif;
}
/*######################################################################################################################*/


/*######################################################################################################################*/
/** PARA CONFIGURAÇÕES DO CABEÇALHO NO SISTEMA/SITE PARA O /home; AJUSTES BEM AQUI; COMO MOSTRADO ABAIXO */
/*######################################################################################################################*/
.header {
	display: flex;
	max-width: 100%;
	flex-direction: column;
	background-color: var(--primary-color);
}
.promocao {
	width: 100%;
	line-height: 1.3;
	font-size: 1.47em;
	text-align: center;
	background-color: #deb177;
}
/*######################################################################################################################*/


/*######################################################################################################################*/
/** PARA CONFIGURAÇÕEs DO LOGO(PROVISÓRIO); DO CABEÇALHO SISTEMA/SITE PARA O /; AJUSTES BEM AQUI; COMO MOSTRADO ABAIXO */
/*######################################################################################################################*/
.header-content {
	display: flex;
	max-width: 100%;
	max-height: 100%;
	flex-direction: row;
}
.logo-site-header { width: 15%; }
.logo-site{ 
	height: 7em;
	max-width: 100%;
	background-size: contain;;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("/assets/img/logos/logo_index_transparent.png");
}
/*######################################################################################################################*/


/*######################################################################################################################*/
/** PARA CONFIGURAÇÕES DO CABEÇALHO DE NEVEGAÇÃO NO SISTEMA/SITE PARA O "/"; AJUSTES BEM AQUI; COMO MOSTRADO ABAIXO */
/*######################################################################################################################*/
.name-index { 
	display: flex;
	max-width: 100%;
	flex-direction: row;
}
.title-name-index {
	width: 93%;
	padding-top: .2%;
	text-align: center;
}
.title-name-index span::after {
	content: ' ';
	width: 400px;
	height: 4px;
	display: block;
	margin: 0 auto;
	background: currentColor;
}
.name-title {
	padding: 0;
	margin: 0;
	font-size: 2.2em;
	font-weight: var(--largura-fonte);
}
/*######################################################################################################################*/


/** PARA DIVULGAÇÃO DE PROMOÇÕES FAREMOS AJUSTES BEM AQUI; NO CABEÇALHO SISTEMA/SITE PARA O /home; AJUSTES BEM AQUI; COMO MOSTRADO ABAIXO */
/*.mostrar-promocao {
	/*display: block;
	max-width: 100%;
	background-color: #ffcc00;
}

.esconder-promocao {
	/*display: none;*
}

.mostrar-promocao::first-line {
	/*font-size: 2em;
	font-weight: 600;*
}
/*######################################################################################################################*/


/*######################################################################################################################*/
/** PARA CONFIGURAÇÕES DAS REDES SOCIAIS; DO CABEÇALHO SISTEMA/SITE PARA O "/"; AJUSTES BEM AQUI; COMO MOSTRADO ABAIXO */
/*######################################################################################################################*/
.redes-sociais {
	width: 7%;
	padding-top: .5%;
}
.redes-sociais-icones {
	display: flex;
	justify-content: space-around;
}
.redes-sociais-icones i { top: 10%; }
/*######################################################################################################################*/


/*######################################################################################################################*/
/** PARA ESTILIZAR UM MENU PRECISAMOS IR PARTE POR PARTE; DO CABEÇALHO SISTEMA/SITE PARA O /home; AJUSTES BEM AQUI; COMO MOSTRADO ABAIXO */
/*######################################################################################################################*/
.header-content-navbar { width: 100%; }
.navibar {
	width: 100%;
	line-height: 2.5;
}
.menu {
	width: 100%;
	display: flex;
	margin-top: .5%;
	list-style: none;
	flex-direction: row;
	text-decoration: none;
}
.menu-nav {
	width: 40%;
	padding: .5%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.menu-nav li {
	font-weight: 600;
	text-align: center;
	letter-spacing: 2px;
}
.menu-nav i { display: none; }
.menu-botao { 
	margin: 1%;
	width: 100%;  
	display: flex;
	justify-content: space-around;
}
.menu-botao a {
	width: 100%; 
	padding-top: .3vw;
	text-decoration: none;
}
.menu-botao .home:active { 
	background-color: #00ff00;
}
.menu-nav .menu-botao {
	margin: 0.5%;
	cursor: pointer;
}
.menu-botao:hover {
	border-radius: 9px;
	transition: all 1s ease;
	background-color: #ffcc00;
	box-shadow: 0 9px #ccbe00;
}
.menu-botao:active {
	border: none;
	border-radius: 9px;
	transform: translateY(2px);
	box-shadow: 0 4px #ccbe00;
	transition: all 0.3s ease-out;
}
/*######################################################################################################################*/


/*######################################################################################################################*/
/** PARA CONFIGURAÇÃO DE BUSCA NO INPUT DO CABEÇALHO SISTEMA/SITE PARA O /home; AJUSTES BEM AQUI; COMO MOSTRADO ABAIXO */
/*######################################################################################################################*/
.container-search {
	width: 50%;
	text-align: center;
	font-size: var(--font-size);
	color: var(--fonte-color-one);
}
.search {
    width: 100%;
	display: flex;
	margin: 0 auto;
    flex-wrap: wrap;
	padding-top: .5vw;
    border-radius: 1.3vw;
    flex-direction: column;
}
.row-search {
	display: flex;
	padding-top: .2vw;
    flex-direction: row;
}
.row-search span {
	margin-top: 5%;
	margin-right: 1%;
	margin-left: -1%;
}
.inputbox-search {
    width: 100%;
    height: 35px;
    display: flex;
    margin-top: .75vw;
    position: relative;
    flex-direction: column-reverse;
}
.inputbox-search label {
    top: 0;
    left: 42%;
    cursor: text;    
    font-size: .7vw;
	padding-top: 1vw;
    position: absolute;
	letter-spacing: 2px;
    transition: all 2s ease;
    color: var(--text-fonte);
    font-weight: var(--largura-fonte-one);
}
.inputbox-search input {
	bottom: 0;
	left: 25%;
    width: 98%;
    height: 5px;
    border: none;
    outline: none;
    padding: 0 15px;
    font-size: 1.5vw;
    box-shadow: none;
    font-weight: bold;
    border-radius: 3px;
    transition: all 2s ease;
    background: var(--primary-background);
}
.inputbox-search input:focus,
.inputbox-search input:valid {
	height: 100%;
}
.inputbox-search input:focus + label,
.inputbox-search input:valid + label {
	left: 0;
    top: -30px;
}
/*######################################################################################################################*/


/*######################################################################################################################*/
/** PARA CONFIGURAR O LOGIN E O CARRINHO DE COMPRAS NO CABEÇALHO SISTEMA/SITE PARA O "/"; AJUSTES BEM AQUI; COMO MOSTRADO ABAIXO */
/*######################################################################################################################*/
.menu-nav-login-carrinho {
	width: 30%;
	padding: .5%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.carrinho {
	width: 50%;
	cursor: pointer;
	text-align: center;
	letter-spacing: 2px;
}
.carrinho a { text-decoration: none; }
.carrinho-layout {
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-evenly;
	font-weight: var(--largura-fonte);
}
.titulo-carrinho {
	display: flex;
	align-items: center;
	flex-direction: column;
}
.title-span-cart { font-size: .6em; }
.desenho-carrinho {
	display: flex;
	position: relative;
	flex-direction: column;
}
.quantidade-no-carrinho {
	top: 11.70%;
	padding: 0 1.2vw 0;
	position: absolute;
	color: var(--fonte-color-two);
}
.cartoon-cart {
	top: 15%;
	margin: 1vw 0 0vw;
	align-items: center;
}
.valor-carrinho { font-size: .35em; }
.carrinho:hover {
	border-radius: 9px;
	transition: all 1s ease;
	background-color: #ffcc00;
	box-shadow: 0 9px #ccbe00;
}
.carrinho:active {
	border-radius: 9px;
	transform: translateY(2px);
	box-shadow: 0 4px #ccbe00;
	transition: all 0.3s ease-out;
}
/*######################################################################################################################*/


/*######################################################################################################################*/
/** PARA CONFIGURAR O BOTÃO DE LOGIN NO CABEÇALHO SISTEMA/SITE PARA O /home; AJUSTES BEM AQUI; COMO MOSTRADO ABAIXO */
/*######################################################################################################################*/
.login {
	width: 50%;
	cursor: pointer;
	text-align: center;
	letter-spacing: 2px;
}
.login a { text-decoration: none; }
.login-layout {
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-evenly;
	font-weight: var(--largura-fonte);
}
.login-title { font-size: 1em; }
.login-icon { font-size: 1em; }
.login:hover {
	border-radius: 9px;
	transition: all 1s ease;
	background-color: #ffcc00;
	box-shadow: 0 9px #ccbe00;
}
.login:active {
	border-radius: 9px;
	transform: translateY(2px);
	box-shadow: 0 4px #ccbe00;
	transition: all 0.3s ease-out;
}
/*######################################################################################################################*/



















.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 170px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 2px 0;
	position: absolute;
	z-index: 1;
	bottom: 105%;
	left: -15%;
	margin-left: -60px;
}

.tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 20%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext { visibility: visible; }
/*######################################################################################################################*/


/** PARA CONFIGURAR O MODAL DE LOGIN NO SISTEMA/SITE PARA O /home; AJUSTES BEM AQUI; COMO MOSTRADO ABAIXO */
/* O fundo do Modal */
.modal {		border: #00ff00  5px solid;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	/* Ficar acima da janela pai */
	display: none;
	/* Oculto por padrão */
	overflow: auto;
	position: fixed;
	/* Posição fixa aqui, habilitar barra de rolagem se necessário */
	padding-top: 2%;
	margin-bottom: 13.5vw;
	background-color: rgb(0, 0, 0);
	/* Cor Altenativa */
	background-color: rgba(0, 0, 0, 0.7);
	/* Preto opaco */
}

/* CONTEÚDO DO MODAL */
.modal-content {		
	width: 90%;
	padding: .5%;
	display: flex;
	border-radius: 1.5vw;
	flex-direction: column;
	margin: 5% auto 5% auto;
	background-color: #262626;
	border: 16px solid var(--primary-color);
}

.logo-icone-login-modal { 
	display: flex;
	position: relative;
	flex-direction: row;
	border-radius: 0.5em;
	background: var(--primary-background);
}

.login-logo-modal {
	width: 30%;
	height: 85px;
	padding: .3%;
	padding-left: 5%;
	padding-right: 5%;
	position: relative;
	text-align: center;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("/assets/img/logos/logo_index_transparent.png");
}
.logo-icone-modais img {
	width: 20%;
	height: 85px;
	padding-left: 5%;
	padding-right: 5%;
	position: relative;
	text-align: center;
}

.titulo-modal-login {
	width: 50%;
	padding-top: 3%;
	margin-left: -2%;
	font-weight: 600;
	text-align: center;
	font-size: var(--font-size);
}

.container-dados {
	width: 100%;
	display: flex;
	margin-top: 1%;
	margin-bottom: 2%;
	border-radius: 0.5em;
	flex-direction: column;
	background-color: rgba(0, 0, 0, 0.2);
}
/*######################################################################################################################*/


/** PARA CONFIGURAÇÃO DOS MODAIS DE BEBIDAS DO SISTEMA/SITE PARA O /home; AJUSTES BEM AQUI; COMO MOSTRADO ABAIXO */
.modal-content-bebidas {
	width: 90%;
	padding: .5%;
	display: flex;
	border-radius: 1.5vw;
	flex-direction: column;
	margin: 5% auto 5% auto;
	background-color: #262626;
	border: 6px solid  var(--primary-color);
} 

.logo-icone-modais {
	padding: .1%;
	display: flex;
	position: relative;
	flex-direction: row;
	border-radius: 0.5em;
	background-color: var(--primary-color);
}

.logo-icone-modais img {
	width: 20%;
	height: 85px;
	padding-left: 5%;
	padding-right: 5%;
	position: relative;
	text-align: center;
}

.titulo-modal {
	width: 65%;
	padding-top: 2%;
	font-size: var(--font-size);
	font-weight: 600;
	text-align: center;
	font-size: var(--font-size);
}

.logo-icone-login-modal p {
	font-size: var(--font-size);
	font-weight: var(--largura-fonte);
}

.container-dados-agua {		
	width: 100%;
	display: flex;
	margin-top: .5%;
	margin-bottom: .2%;
	border-radius: 5em;
	flex-direction: column;
	background-color: rgba(0, 0, 0, 0.2);
}

.sem-gas {
	width: 100%;
	padding: .5%;
	display: flex;
	margin-bottom: .3%;
	padding-bottom: .5%;
	flex-direction: row;
	border-radius: 0.7em;
	background-color: var(--primary-color);
}
.com-gas {   
	width: 100%;
	padding: .5%;
	display: flex;
	margin-top: .3%;
	flex-direction: row;
	border-radius: 0.7em;
	background-color: var(--primary-color);

}

.agua-copo {
	width: 100%;
	display: flex;
	margin-left: .2%;
	margin-right: .5%;
	flex-direction: row;
	border-radius: 0.7em;
	border: #000 5px solid;
}

.agua-500 {
	width: 100%;
	display: flex;
	margin-left: .5%;
	margin-right: .5%;
	flex-direction: row;
	border-radius: 0.7em;
	border: #000 5px solid;
}

.agua-1500 {
	width: 100%;
	display: flex;
	margin-left: .5%;
	margin-right: .2%;
	flex-direction: row;
	border-radius: 0.7em;
	border: #000 5px solid;
}

.titulo-produto {
	font-size: 1.25em;
	text-align: center;
	font-weight: var(--largura-fonte);	
}

.descricao-produto {
	width: 100%;
	padding: 2%;
	display: flex;
	padding-top: 0;
	line-height: 1.7;
	font-size: small;
	flex-direction: column;
	font-weight: var(--largura-fonte);
}

.describe {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	position: relative;
}

.info-copo-300ml {
	width: 100%;
	/*display: flex;
	/*flex-direction: column;
	/*position: absolute;*/
}

.info-copo-300ml-img {
	width: 25%;
	padding-top: 5%;
	padding-left: 5%;

}

.valor-agua {
	width: 100%;
	/*color:#00ff00;*/
	font-size: 1.7em;
	text-align: center;
}

.quantidade-comprada {
	width: 100%;
	display: flex;
	margin-top: .5%;
	line-height: 1.5;
	font-size: 1.25em;
	flex-direction: row;
	justify-content: space-around;
	font-weight: var(--largura-fonte);
}

.diminuir {
	width: 20%;
	cursor: pointer;
	text-align: center;
}

.diminuir:hover {
	border-radius: 9px;
	background-color: #ffcc00;
	box-shadow: 0 6px #ccbe00;
}

.diminuir:active {
	border-radius: 9px;
	transform: translateY(2px);
	box-shadow: 0 4px #ccbe00;
}

.numbers {
	width: 20%;
	text-align: center;
}

.acrescentar {
	width: 20%;
	cursor: pointer;
	text-align: center;
}

.acrescentar:hover {
	border-radius: 9px;
	background-color: #ffcc00;
	box-shadow: 0 6px #ccbe00;
}

.acrescentar:active {
	border-radius: 9px;
	transform: translateY(2px);
	box-shadow: 0 4px #ccbe00;
}

.adicionar-ao-carrinho {
	width: 100%;
	padding: 3%;
	border: none;
	cursor: pointer;
	margin-top: .1%;
	line-height: 1.5;
	border-radius: 9px;
	font-weight: var(--largura-fonte);
	background-color: var(--primary-color);
}

/*####################################################
.adicionar-ao-carrinho:hover { OUTRA ESCOLHA DE LAYOUT
	border-radius: 9px;
	color: #fff;
	box-shadow: 0 9px  #006600;
	background-color: var(--secondary-color);
}
.adicionar-ao-carrinho:active {
	/*border-radius: 9px;
	color: #000;
	transform: translateY(2px);
	box-shadow: 0 4px  #004d00;
}
###################################################*/

.adicionar-ao-carrinho:hover {
	border-radius: 9px;
	background-color: #ffcc00;
	box-shadow: 0 9px #ccbe00;
}

.adicionar-ao-carrinho:active {
	border-radius: 9px;
	transform: translateY(2px);
	box-shadow: 0 4px #ccbe00;
}
/*######################################################################################################################*/


/** CONFIGURAÇÃO PARA EXIBIR REFRIGERANTES AMBEV */
.ambev {
	width: 100%;
	height: auto;

	border: #ff0000 3px solid;
}













/*######################################################################################################################*/


/** PARA CONFIGURAÇÃO ESTILIZAMOS OS INPUTS DE ENTRADA DE DADOS NO SISTEMA/SITE PARA O /home; AJUSTES BEM AQUI; COMO MOSTRADO ABAIXO */
.row {
	display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 40px;
}

.inputbox {
	width: 100%;
	margin-top: 3em;
	margin-bottom: 1em;
	height: 40px;
	display: flex;
	position: relative;
	flex-direction: column-reverse;
}

.inputbox label {
	top: 0;
	left: 1vw;
	cursor: text;
	transition: .7s;
	font-size: 1.5vw;
	position: absolute;
	color: var(--primary-color);
	font-family: var(--familia-fonte)
}

.inputbox input {
	bottom: 0;
	width: 100%;
	height: 5px;
	border: none;
	outline: none;
	transition: .2s;
	font-size: 1.5vw;
	padding: 0 10px;
	box-shadow: none;
	font-weight: bold;
	border-radius: 3px;
	background: var(--primary-background);
}

.inputbox input:focus,
.inputbox input:valid {
	height: 100%;
}

.inputbox input:focus+label,
.inputbox input:valid+label {
	left: 1vw;
	top: -40px;
}
/*######################################################################################################################*/


/** PARA CONFIGURAÇÃO ESTILIZAMOS O BOTÃO FECHAR (X) NO SISTEMA/SITE PARA O /home; AJUSTES BEM AQUI; COMO MOSTRADO ABAIXO */
.close {
	top: 0;
	right: 25px;
	color: #000;
	font-size: 3em;
	font-weight: bold;
	position: absolute;
}

.close:hover,
.close:focus {
	color: red;
	cursor: pointer;
}
/*######################################################################################################################*/


/*######################################################################################################################*/
/** PARA CONFIGURAÇÃO PARA O CONTEÚDO DO MODAL DE LOGIN NO SISTEMA/SITE PARA O /home; AJUSTES BEM AQUI; COMO MOSTRADO ABAIXO */
/*######################################################################################################################*/
.modal-content-login {
	width: 50%;
	padding: .5%;
	display: flex;
	border-radius: 1.5vw;
	flex-direction: column;
	margin: 5% auto 5% auto;
	background-color: #262626;
	border: 6px solid var(--primary-color);
}
/*######################################################################################################################*/


/*######################################################################################################################*/
/** PARA CONFIGURAÇÃO DE ABERTURA DO MODAIS NO SISTEMA/SITE PARA O /home; AJUSTES BEM AQUI; COMO MOSTRADO ABAIXO */
/*######################################################################################################################*/
.animate {
	-webkit-animation: animatezoom 0.6s;
	animation: animatezoom 0.6s
}
/*######################################################################################################################*/


/*######################################################################################################################*/
/** PARA CONFIGURAÇÃO DE ENTRADA DE DADOS DO MODAIS NO SISTEMA/SITE PARA O /home; AJUSTES BEM AQUI; COMO MOSTRADO ABAIXO */
/*######################################################################################################################*/
.container-dados-login {
	width: 100%;
	display: flex;
	margin-top: 1%;
	border-radius: 0.5em;
	flex-direction: column;
	background-color: rgba(0, 0, 0, 0.2);
}
/*######################################################################################################################*/


/*######################################################################################################################*/
/** PARA CONFIGURAÇÃO PARA A DIV DOS BOTÕES DO LOGIN NO SISTEMA/SITE PARA O /home; AJUSTES BEM AQUI; COMO MOSTRADO ABAIXO */
/*######################################################################################################################*/
.login-modal-buttons { 
	width: 100%;
	display: flex;
	margin-top: 5%;
	padding-top: 1%;
	padding-left: 1%;
	line-height: 1.5;
	position: relative;
	flex-direction: row;
	padding-bottom: 2.1%;
	border-radius: 0.5em;
	background: var(--primary-background);
	justify-content: space-around;
}
/*######################################################################################################################*/


/*######################################################################################################################*/
/** PARA CONFIGURAÇÃO PARA O BOTÃO DE LOGIN NO SISTEMA/SITE PARA O /home; AJUSTES BEM AQUI; COMO MOSTRADO ABAIXO */
/*######################################################################################################################*/
.btn-login-sistema-modal {
	width: 50%;
	padding: 2%;
	border: none;
	display: flex;
	cursor: pointer;
	margin-right: 2%;
	font-size: 1.5em;
	background: transparent;
	flex-direction: row;
	justify-content: space-around;
	font-weight: var(--largura-fonte);
}

.btn-login-sistema-modal i { padding-top: 5%; }

.btn-login-sistema-modal:hover {
	border-radius: 9px;
	background: var(--fonte-color-two);
	box-shadow: 0 9px var(--hover-color);
}

.btn-login-sistema-modal:active {
	border: none;
	border-radius: 9px;
	box-shadow: 0 4px var(--active-color);
	transform: translateY(2px);
}
/*######################################################################################################################*/


/*######################################################################################################################*/
/** PARA CONFIGURAÇÃO PARA BOTÃO CANCELAR NO SISTEMA/SITE PARA O /home; AJUSTES BEM AQUI; COMO MOSTRADO ABAIXO */
/*######################################################################################################################*/
.btn-cancelar-sistema-modal {
	width: 50%;
	padding: 2%;
	border: none;
	display: flex;
	cursor: pointer;
	margin-left: 2%;
	margin-right: 1%;
	font-size: 1.5em;
	flex-direction: row;
	justify-content: space-around;
	font-weight: var(--largura-fonte);
}

.btn-cancelar-sistema-modal i { padding-top: 5%; }

.btn-cancelar-sistema-modal:hover {
	border-radius: 9px;
	background: var(--fonte-color-two);
	box-shadow: 0 9px var(--hover-color);
}

.btn-cancelar-sistema-modal:active {
	border: none;
	border-radius: 9px;
	box-shadow: 0 4px var(--active-color);
	transform: translateY(2px);
}
/*######################################################################################################################*/


/*######################################################################################################################*/
/** PARA CONFIGURAÇÃO PARA USUÁRIO SE CADASTRAR E ACESSAR O SISTEMA/SITE PARA O /home; AJUSTES BEM AQUI; COMO MOSTRADO ABAIXO */
/*######################################################################################################################*/
.login-modal-access{
	width: 100%;
	display: flex;
	margin-top: 1%;
	padding-top: 1%;
	padding-left: 1%;
	line-height: 1.5;
	position: relative;
	flex-direction: row;
	padding-bottom: 2.1%;
	border-radius: 0.5em;
	background: var(--primary-background);
	justify-content: space-around;
}
/*######################################################################################################################*/


/*######################################################################################################################*/
/** PARA CONFIGURAÇÃO PARA USUÁRIO QUEM ESQUECE A SENHA NO SISTEMA/SITE PARA O /home; AJUSTES BEM AQUI; COMO MOSTRADO ABAIXO */
/*######################################################################################################################*/
.cadastrar-modal-link-Login {
	width: 50%;
	padding: 2%;
	border: none;
	display: flex;
	cursor: pointer;
	margin-right: 2%;
	font-size: 1.5em;
	flex-direction: row;
	justify-content: space-around;
	font-weight: var(--largura-fonte);
}

.cadastrar-modal-link-Login i { padding-top: 5%; }

.cadastrar-modal-link-Login:hover {
	border-radius: 9px;
	background: var(--fonte-color-two);
	box-shadow: 0 9px var(--hover-color);
}

.cadastrar-modal-link-Login:active {
	border: none;
	border-radius: 9px;
	box-shadow: 0 4px var(--active-color);
	transform: translateY(2px);
}
/*######################################################################################################################*/


/*######################################################################################################################*/
/** PARA CONFIGURAÇÃO PARA USUÁRIO QUE ESQUECEU A SENHA NO SISTEMA/SITE PARA O /home; AJUSTES BEM AQUI; COMO MOSTRADO ABAIXO */
/*######################################################################################################################*/
.esqueceu-a-senha-modal-link {
	width: 50%;
	padding: 2%;
	border: none;
	display: flex;
	font-size: 1em;
	cursor: pointer;
	margin-left: 2%;
	margin-right: 1%;
	font-size: 1.5em;
	flex-direction: row;
	justify-content: space-around;
	font-weight: var(--largura-fonte);
}

.esqueceu-a-senha-modal-link i { padding-top: 5%; }

.esqueceu-a-senha-modal-link:hover {
	border-radius: 9px;
	background: var(--fonte-color-two);
	box-shadow: 0 9px var(--hover-color);
}

.esqueceu-a-senha-modal-link:active {
	border: none;
	border-radius: 9px;
	box-shadow: 0 4px var(--active-color);
	transform: translateY(2px);
}
/*######################################################################################################################*/



@-webkit-keyframes animatezoom {
	from {
		-webkit-transform: scale(0)
	}

	to {
		-webkit-transform: scale(1)
	}
}
/*######################################################################################################################*/


@keyframes animatezoom {
	from {
		transform: scale(0)
	}

	to {
		transform: scale(1)
	}
}
/*######################################################################################################################*/


/** PARA CONFIGURAÇÃO DE TELA COM 300 PX DE TAMANHO; AJUSTES BEM AQUI; COMO MOSTRADO ABAIXO */
@media screen and (max-width: 300px) {
	span.psw {
		display: block;
		float: none;
	}

	.cancelbtn {
		width: 100%;
	}
}
/*######################################################################################################################*/


/** PARA CONFIGURAÇÃO DE TELA COM 780 PX DE TAMANHO; AJUSTES BEM AQUI; COMO MOSTRADO ABAIXO */
@media screen and (max-width:780px) {

	.menu-nav i {
		display: flex;
	}
}
/*######################################################################################################################*/


/** PARA CONFIGURAÇÕES DO CONTEÚDO PRINCIPAL DO SISTEMA/SITE O /home; AJUSTES BEM AQUI; COMO MOSTRADO ABAIXO */
.container {
	height: auto;
	max-width: 100%;
	margin-top: 0.25%;
	border: #Cf8b5a 5px solid;
}
/*######################################################################################################################*/


/*######################################################################################################################*/
/** PARA CONFIGURAÇÕES DO CONTEÚDO DAS PIZZAS NO SITE PARA O /home; AJUSTES BEM AQUI; COMO MOSTRADO ABAIXO */
/*######################################################################################################################*/
.main-container-aside-pizzas {
	font-size: 1em;
	max-width: 100%;
	font-weight: 600;
}

.main-container-aside-row-one { 
	width: 100%;
	height: auto;
}
/*######################################################################################################################*/


/*######################################################################################################################*/
/** CONFIGURAÇÃO PARA OS AVISOS AOS CLIENTES*/
/*######################################################################################################################*/
.section-warnings {
	width: 100%;
	padding: .5%;
	height: auto;
	display: flex;
	font-size: 1.2em;
	text-align: center;
	letter-spacing: 3px;
	flex-direction: row;
	justify-content: center;
	font-family: 'Rouge Script', cursive;
	/*background-color: #fff;*/
}
.pizza-espaco { margin-left: 2%; }

.pizzas-avisos .destaque {
	font-size: 1.7em;	
}
/*######################################################################################################################*/

.pizzas-titulo-doces {
	width: 100%;
	margin: .5%;
	padding: 1%;
	font-size: 2em;	
	text-align: center;
	margin-bottom: 1%;
	border-radius: 10px 0;
	color: var(--fonte-color-one);
	font-family: 'Rouge Script', cursive;
	background-color: var(--primary-color);
}
/*######################################################################################################################*/
/** */

/*######################################################################################################################*/

/*######################################################################################################################*/
.section-container {
	width: 100%;
	height: auto;
	display: flex;
	font-size: 1.5em;
	padding-left: .5%;
	line-height: 1.3em;
	flex-direction: row;
	justify-content: space-between;
}

.pizzas-tradicionais-titulo {	
	width: 42.8%;
	display: flex;
	font-size: 1em;
	padding-bottom: .2%;
	font-weight: 600;
	flex-direction: row;
	justify-content: space-between;
	font-family: 'Rouge Script', cursive;
}

.aumentar {
	font-size: 1.7em;
}

.tipos-pizzas-1 {
	display: flex;
	font-size: 1.1em;
	font-weight: 600;
	padding-right: .1%;
	flex-direction: row;
	justify-content: end;
}

.tipos-pizzas-2 {
	display: flex;
	font-size: 1.1em;
	font-weight: 600;
	margin-right: 6%;
	padding-right: .1%;
	flex-direction: row;
	justify-content: end;
	font-family: 'Rouge Script', cursive;
}

.tipos-pizzas-3 {
	display: flex;
	font-size: 1.1em;
	font-weight: 600;
	padding-right: .1%;
	flex-direction: row;
	justify-content: end;
	font-family: 'Rouge Script', cursive;
}


.tipos-pizzas-coluna-tres {
	width: 100%;
	display: flex;
	margin-right: 20%;
	flex-direction: row;
}

.separador {
	padding: 5%;
}

/*######################################################################################################################*/

/** PARA CONFIGURAÇÃO DO MENU DE BEBIDAS QUE SE REPETE 2 VEZES NO SISTEMA/SITE; AJUSTES BEM AQUI; COMO MOSTRADO ABAIXO */
.main-container-aside-pizzas-row-dois {
	height: auto;
	display: flex;
	max-width: 100%;
	flex-direction: row;
	margin-bottom: .05%;
}
/*######################################################################################################################*/


/** PARA CONFIGURAÇÕES DO CONTEÚDO DO CARDÁPIO DE BEDIDAS DO SISTEMA/SITEE PARA O /home; AJUSTES BEM AQUI; COMO MOSTRADO ABAIXO */
.bebidas-pizzaria {
	width: 17.00%;
	border: #ff0000 solid 2px;
/*######################################################################################################################*/




/** OBSERVAR COMPORTAMETO COM CRESCIMENTO DOS DADSO AQUI, SUBISTITUIR*/
	
	/*height: 790px;*/
	/*height: auto;*/
	height: calc( auto - 790px);
	/*######################################################################################################################*/
	
	padding: .5%;
	padding-top: 3%;
	border-bottom: 3px var(--bg-color) solid;
	background-color: var(--primary-color);
}

.bebidas-pizzaria-titulos {
	line-height: 1;
	font-weight: 600;
	font-size: 1.6em;
	margin-bottom: 5%;
	text-align: center;
	letter-spacing: 2px;
	color: var(--text-fonte);
}

.bebidas-pizzaria-titulo-delivery {
	margin-top: 7%;

	line-height: 1;
	font-weight: 600;
	font-size: 1.6em;
	margin-bottom: 5%;
	text-align: center;
	letter-spacing: 2px;
	color: var(--text-fonte);
}

.bebidas-pizzaria-titulos i {
	margin-top: 2%;
	margin-left: 2%;
}

.menu-bebidas-ul-primario {
	display: flex;
	font-size: .9em;
	line-height: 2;
	font-weight: 600;
	flex-direction: column;

}

.menu-bebidas-ul-primario li {
	font-weight: 600;
	line-height: 3.5;
	margin-top: 5%;
	margin-bottom: 5%;
	text-align: center;
	letter-spacing: 1px;
}

.menu-bebidas-ul-primario i { display: none; }

.menu-aside-img-bebidas {
	height: 150px;
	margin-top: 9%; 
	text-align: center;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("/assets/img/refrigerante/refris-removebg-preview.png");
}

.menu-aside-bebidas { 
	width: 100%; 
}

.menu-bebidas-ul-primario 
.menu-aside-bebidas {	
	margin-top: 4%;
	cursor: pointer;
}

.menu-aside-bebidas:hover {
	cursor: pointer;
	border-radius: 9px;
	color: var(--text-fonte);
	box-shadow: 0 9px #ccbe00;
	background-color: #ffcc00;
}

.menu-aside-bebidas:active {
	border: none;
	border-radius: 9px;
	box-shadow: 0 4px #ccbe00;
	transform: translateY(2px);
}

/*.informo-taxa-foto {
	height:  auto;
	margin-top: 5%;
	margin-right: 2%;
	text-align: center;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("/public/assets/img/logos/logo_anuncio_cobranca_entrega.png");
}*/

.img-delivery {
	width: 100%;
	height: 200px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("/assets/img/logos/logo_anuncio_cobranca_entrega.png");
}
/*######################################################################################################################*/


/** PARA CONFIGURAÇÕES DO CONTEÚDO DO CARDÁPIO DE PIZZAS DO SISTEMA/SITE PARA O /home; AJUSTES BEM AQUI; COMO MOSTRADO ABAIXO */
.pizzas-row-dois {
	width: 100%;
	margin: .2%;
	padding: .2%;
	display: flex;
	margin-top: .2%;
	margin-bottom: .2%;
	flex-direction: row;
	justify-content: space-between;
	border: var(--primary-color) solid 5px;
}

.coluna-pizzas-um {
	width: 50%;
	padding: .5%;
	display: flex;
	color: #fff;
	margin-right: .3%;
	border-radius: 10px 0;
	flex-direction: column;
	border: var(--primary-color) solid 5px;
}

.coluna-pizzas-dois {
	width: 50%;
	padding: .5%;
	display: flex;
	color: #fff;
	margin-right: .3%;
	border-radius: 10px 0;
	flex-direction: column;
	border: var(--primary-color) solid 5px;
}

.coluna-pizza-completa {
	width: 100%;
	display: flex;
	margin-bottom: 3%;
	flex-direction: row;
	align-items: stretch;
	justify-content: space-between;
}

.coluna-pizza-completa:hover {
	color: var(--fonte-color-one);
	border-radius: 9px;
	transition: all .7s ease;
	background-color: #ffcc00;
	box-shadow: 0 9px #ccbe00;
}
.coluna-pizza-dados {
	width: 50%;
}

.coluna-pizza-id-nome {
	width: 65.5%;
	display: flex;
	text-align: center;
	flex-direction: column;
}

.coluna-pizza-igredientes {
	width: 100%;
	padding: 2%;
	height: 35px;
	line-height: 1;
	font-size: .7em;
	text-align: left;
}

.coluna-idpizza-nomepizza {	
	display: flex;
	padding-top: 3%;
	flex-direction: row;
}

.coluna-id {
	width: 10%;
	font-size: .7em;
	text-align: center;
}

.coluna-nome {
	width: 90%;
	font-size: .95em;
	text-align: center;
}

.coluna-pizza-valores {
	width: 34.5%;
	height: auto;
	display: flex;
	margin-right: 3%;
	margin-bottom: 3%;
	padding-top: 1.5%;
	flex-direction: row;
	justify-content: space-around;
}

.coluna-pizza-valor-grande {
	height: auto;
	cursor: pointer;
	margin: 0 auto;
	padding: 10%;
	padding-top: 15%;
}

.coluna-pizza-valor-brotao {
	height: auto;
	cursor: pointer;
	margin: 0 auto;
	padding: 10%;
	padding-top: 15%;
}

.coluna-pizza-valor-grande:hover,
.coluna-pizza-valor-brotao:hover {
	border-radius: 9px;	
	color: var(--fonte-color-one);	
	background-color: var(--secondary-color);
	box-shadow: 0 9px var(--bg-color);
	transition: all .3s ease;

}

.coluna-pizza-valor-grande:active, 
.coluna-pizza-valor-brotao:active {
	border: none;
	border-radius: 9px;
	transform: translateY(2px);
	box-shadow: 0 4px var(--fonte-color-one);
	background-color: var(--fonte-color-three);

	transition: all .2s ease;
}
/*######################################################################################################################*/


/** PARA CONFIGURAÇÕES DO CONTEÚDO DOS BROTÕES DO SISTEMA/SITEPARA O /home; AJUSTES BEM AQUI; COMO MOSTRADO ABAIXO */
.main-container-aside-brotoes {
	font-size: 1em;
	max-width: 100%;
	font-weight: 600;
}

.main-container-aside-brotoes-row-um {
	width: 100%;
	height: auto;
}

.cabecalho-brotoes {
	background-color: var(--primary-color);
}

.cabecalho-brotoes-info {
	width: 100%;
	font-size: 1.7em;
	font-family: var(--font-type);
	font-weight: var(--largura-fonte);
	text-align: var(--centralizar-fonte);
	background-color: var(--primary-color);
	/*background-color:  #fff;*/
}

/*######################################################################################################################*/


/** PARA CONFIGURAÇÕES DO MENU ROW DOIS DO SISTEMA/SITE PARA O /home; AJUSTES BEM AQUI; COMO MOSTRADO ABAIXO */
.main-container-aside-brotoes-row-dois { 
	height: auto;
	display: flex;
	max-width: 100%;
	flex-direction: row;
}

.brotoes-row-dois {			
	width: 100%;
	margin: .2%;
	padding: .2%;
	display: flex;
	margin-top: .2%;
	margin-bottom: .2%;
	flex-direction: row;
	border: var(--primary-color) solid 5px;
}
/*######################################################################################################################*/


/** PARA CONFIGURAÇÕES DO CONTEÚDO DO CARDÁPIO DOS BORTÕES DO SISTEMA/SITE PARA O /home; AJUSTES BEM AQUI; COMO MOSTRADO ABAIXO */
.coluna-brotoes-um {
	width: 27%;
	padding: .5%;
	color: #fff;
	border-radius: 10px 0;
	border: var(--primary-color) solid 5px;
}

.brotoes-thead-titulo {
	padding: .8%;
	margin-bottom: 1%;
	font-size: 1.20em;
	text-align: center;
	border-radius: 10px 0;
	color: var(--fonte-color-one);
	background-color: var(--primary-color);
}

.brotoes-tbody {
	font-size: 1em;
	max-width: 100%;
	margin-bottom: 3.2%;
}

.brotoes-row {
	display: flex;
	margin-top: 2%;
	line-height: 1.63;
	margin-bottom: .3%;
	text-align: center;
	flex-direction: column;
}

.brotoes-ingr {
	padding: .1%;
}

.brotoes-row:hover {
	border-radius: 9px;
	transition: all .5s ease;
	background-color: #ffcc00;
	box-shadow: 0 9px #ccbe00;
	color: var(--fonte-color-one);
}

.brotoes-row:active {
	border: none;
	border-radius: 9px;
	transition: all .5s ease;
	transform: translateY(2px);
	box-shadow: 0 4px #ccbe00;
}

.coluna-brotoes-dois {
	width: 27%;
	color: #fff;
	padding: .5%;
	margin-left: .3%;
	margin-right: .2%;
	border-radius: 10px 0;
	border: var(--primary-color) solid 5px;
}
.brotoes-thead-2 {
	color: var(--text-fonte);
	background-color: var(--primary-color);
}

.coluna-brotoes-tres {
	width: 27%;
	padding: .5%;
	color: #fff;
	margin-left: .3%;
	margin-right: .5%;
	border-radius: 10px 0;
	border: var(--primary-color) solid 5px;
}

.brotoes-thead-3 {
	color: var(--text-fonte);
	background-color: var(--primary-color);
}

.coluna-brotoes-quatro {
	width: 27%;
	padding: .5%;
	color: #fff;
	margin-left: .5%;
	border-radius: 10px 0;
	border: var(--primary-color) solid 5px;
}

.brotoes-thead-4 {
	color: var(--text-fonte);
	background-color: var(--primary-color);
}
/*######################################################################################################################*/

/** PARA CONFIGURAÇÕES DO CONTEÚDO DO CARDÁPIO DE PIZZAS DA COLUNA TRES  DO SISTEMA/SITE PARA O /home; AJUSTES BEM AQUI; COMO MOSTRADO ABAIXO */

.coluna-pizzas-tres {
	width: 50%;
	padding: .5%;
	display: flex;
	color: #fff;
	border-radius: 10px 0;
	flex-direction: column;
	border: var(--primary-color) solid 5px;
}

.coluna-tres-row-two { text-align: center; }



















































































































/*######################################################################################################################*/
/** INÍCIO DA CONFIGURAÇÃO DE TODO CONTEUDO DA PÁGINA SOBRE DO SITE/SISTEMA */
/*######################################################################################################################*/
.sobre-banner {
	width: 50%;
	color: var(--fonte-color-two);
	height: 500px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border: var(--primary-color) 5px solid;
	background-image: url("/assets/img/sobre/batata-rosti-com-bacon-e-parmesao-4.jpeg");
	opacity: 0.3;
}
/*######################################################################################################################*/


















/*######################################################################################################################*/
/** PARA CONFIGURAÇÕES DO RODAPÉ QUE FARÁ PARTE EM TODAS AS TELAS; AJUSTES BEM AQUI; COMO MOSTRADO ABAIXO */
/**INFORMAÇÕES DE CONTATO DA BATATARIA OTOUSSAN DO SITE/SISTEMA  __--> */
/*######################################################################################################################*/
.footer-container { background: linear-gradient(to bottom right, #cf8b5a 40%, #deb177 60%); }
.titulo-footer {
	color: #000;
	padding-top: .3em;
	font-size: 1.5em;
	font-weight: 600;
	text-align: center;
	letter-spacing: 2px;
}
.titulo-footer span::after {
	content: ' ';
	width: 500px;
	height: 4px;
	display: block;
	margin: 0 auto;
	background: currentColor;
}
.footer-address-paycards {
	display: flex;
	max-width: 100%;
	flex-direction: row;
}
.information-footer {
	width: 100%;
	display: flex;
	flex-direction: row;	
}
.information-footer-logo {
	width: 25%;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("/assets/img/logos/logo_index_transparent.png");
}
.address-footer {
	width: 80%;
	display: flex;
	font-size: 1.1em;
	flex-direction: column;
}
.title-footer-div { 
	font-size: .5em; 
	text-align: end;
	padding-top: .4%;
	padding-right: 2%;
}
.titulo-footer-endereco { 
	width: 100%;
	text-align: end;	
	font-size: .80em; 
	padding-right: 2%;
	padding-top: 1.35%;
}
.contact-footer {
	display: flex;
	flex-direction: row;
}
.footer-email-envelope  {
	width: 100%;
	font-size: .75em; 
	text-align: end;	
	padding-right: 6%;
	padding-top: 2.5%;
}
.footer-whatsapp {
	width: 100%;
	font-size: 1.5em;
	padding-top: 1vw;
	text-align: start;
}
.footer-whatsapp a {
	text-decoration: none;
}
.footer-images-cards {
	display: flex;
	margin-top: 1vw;
	margin-right: 1vw;
	flex-direction: column;
}
.information-footer-payment-paragraph {
	font-size: .7em;
	font-weight: var(--largura-fonte);
	text-align: center;
	letter-spacing: 2px;
}
.information-footer-payment-images { 
	height: 70px;
	max-width: 100%;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("/assets/img/pagamento/informo-taxa-cartoes2.jpg");
}
.footer-separation span::after {
	content: ' ';
	width: 99%;
	height: 5px;
	display: block;
	margin: 0 auto;
	background: currentColor;
}
/*######################################################################################################################*/


/*######################################################################################################################*/
/** INFORMAÇÕES DE CONTATO DO DESENVOLVEDOR DO SITE/SISTEMA  __--> */
/*######################################################################################################################*/
.informacoes-footer-desenvolvedor {
	height: auto;
	display: flex;
	max-width: 100%;
	padding-top: .7%;
	padding-bottom: 0;
	text-align: center;
	flex-direction: row;
	background: linear-gradient(to bottom right, #cf8b5a 40%, #deb177 60%); 
}
/*.titulo-footer-desenvolvedor {
	font-size: 1.35em;
	text-decoration-line: underline;
}*/
.address-footer-desenvolvedor {
	width: 40%;
	display: flex;
	font-size: .67em;
	padding-top: .3%;
	font-weight: 600;
	margin-left: .5%;
	margin-bottom: .5%;
	text-align: center;
	letter-spacing: 2px;
	padding-bottom: .3%;
	flex-direction: column;
}
.developer-footer-div {
	width: 73%;
	margin: 0 auto;
	display: flex;
	font-size: .5em; 
	text-align: end;
	padding-top: .2%;
	margin-bottom: 1.3%;
	flex-direction: row;
	justify-content: end;
}
.logo-footer-desenvolvedor { 
	width: 20%;
	margin-top: .3%;
	max-height: 100%;
	text-align: center;
	margin-bottom: .5%;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("/assets/img/img_admin/logo-san-soares-menor.jpg");
}
.contato-footer-desenvolvedor-frase {
	margin-top: 1.3%;
	font-size: 1.25em;
	letter-spacing: 2px;
	font-weight: var(--largura-fonte);
}
.contato-footer-desenvolvedor {
	width: 40%;
	display: flex;
	font-size: .67em;
	margin-right: 1.5%;
	padding-top: .3%;
	text-align: center;
	padding-bottom: .3%;
	letter-spacing: 2px;
	flex-direction: column;
	font-weight: var(--largura-fonte);
}
.contato-footer-desenvolvedor-site-email {
	width: 100%;
	display: flex;
	font-size: .85em;
	padding: .3%;
	flex-direction: row;
	justify-content: space-between;
}
.contato-footer-desenvolvedor-whatsapp {
	width: 100%;
	display: flex;
	flex-direction: row;
}
.icone-numero-whatsapp {
	margin-left: 5%;
	padding-top: 2.3%;
	font-size: 1.5em;
}
.conta-conosco {
	margin-left: 5%;
	padding-top: 2%;
	font-size: 1.5em;
}
/*######################################################################################################################*/